.header {
  margin-bottom: 30px;
}

.header h1 {
  font-size: 50px;
}

.rc-time-picker .rc-time-picker-input {
  border-radius: 0;
  border: none;
  background: #f7f7f9;
  padding: 0.75rem 2rem;
  height: calc(2.25rem + 2px);
}